html, body {
    margin: 0 auto;
    font-family: 'Source Sans 3', sans-serif;
    font-size: 15px;
    max-width: 550px;
    min-width: 263px;
    background-color: rgb(101, 165, 165);
}

/* Image Styling */

.icon{
    width: 40px;
    height: 40px;
    border-radius: 90px;
    flex-shrink: 0;
} 
.logo{
    width: 150px;
}
img{
    width: 100%;
}

/* button icons */
.post-icon{
    width: 30px;
    height: 30px;
    padding-right: 20px;
}
.logo{
    width: 150px;
}

.heart:hover,
.message:hover,
.comment:hover{
    animation: shake 500ms ease-in; 
}

@keyframes shake {
    10% {
        rotate: 12deg;
    }
    30%, 70%{ 
        rotate: -25deg;
    }
    50%, 85% {
        rotate: 25deg;
    }
}
/* Box Styling */
header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px 20px;
    
}

header{
    border-bottom: 2px solid #C6C6C6;
}
header, section{
    background-color: rgb(255, 255, 255);
}

.account-box .container{
    display: flex;
    padding: 20px;
    border: 0;
}

.footer .container{
    display: block;
    margin: 0px 10px;
    padding: 15px 0px;
}
.footer{
    border-bottom: 25px solid #e0e0e0;
}


/* Text styling */

.account-name, 
.post-location{
    margin: 0px;
    text-align: start;
    padding-left: 12px;
}
.account-name{
    font-size: 20px;
}

a{
    font-weight: 600;
    color: black;
    text-decoration: none;

}

a:hover{
    color: #C6C6C6;
}

.caption, .likes{
    font-size: 17px;
}


